.helpdesk-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 100%;
  //min-height: 100vh;
  //min-height: calc(var(--vh, 1vh)*100);

  .helpdesk-inner {
    width: 100%;
    position: relative;
    max-width: 600px;

    .helpdesk-logo{
      display: flex;
      justify-content: center;
      align-items: end;
    }
  }
}

